<ion-header class="ion-no-border">
  <ion-toolbar class="image">
    <img src="../../assets/img/banner2.jpg" alt="">
  </ion-toolbar>

  <ion-toolbar class="nav-login ion-text-center">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <img src="../../assets/img/vector5.jpg" alt="">
  </div>
  <ion-card> 
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Contraseña</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button type="submit">Log-in</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>