<ion-header class="ion-no-border">
  <ion-toolbar class="image">
    <img src="../../assets/img/banner2.jpg" alt="">
  </ion-toolbar>

  <ion-toolbar class="nav-login ion-text-center">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <img src="../../assets/img/vector5.jpg" alt="">
  </div>
  <ion-card> 
    <ion-card-content>
      <ion-grid>
        <ion-row class="row-1">
          <ion-col size="6">
           <div class="card-box">
              <h4>Perfil</h4>
           </div>
          </ion-col>
          <ion-col size="6">
            <div class="card-box">
              <h4>Veterinarias</h4>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="row-2">
          <ion-col size="6">
            <div class="card-box">
              <h4>Mi mascota</h4>
            </div>
           </ion-col>
           <ion-col size="6">
             <div class="card-box">
              <h4>Historial</h4>
             </div>
           </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Speakers</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    
  </ion-toolbar>
</ion-footer>
